
* {
  box-sizing: border-box;
}
.container_fuild {
  margin-top: 20px;
}
.container {
  margin: 0 auto;
  width: 1200px;
  
  display: flex;
  border: 1px solid #000000;
  border-radius: 0px;
}
.newtask {
display: inline-block;
width: 500px;

}
.list {
  
  display: inline-block;
  width: 700px;
  margin: 0 auto;
 border-left: 1px solid #000000;
}
.text_center {
 
  text-align: center;
  font-size: 18px;
}
.form_task {
  display: block;
  width: 420px;
  margin: auto;
  justify-content: center;
  font-size: 12px;

}
.form_update {
 
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  font-size: 12px;
  border: 1px solid #000000;
}

.text_input {
box-sizing: border-box;
width: 100%;
text-align: left;
padding: 10px;
background: #FFFFFF;
border: 1px solid #BDBDBD;
border-radius: 5px;
}
 label {
  display:inline-block;
  margin: 10px 0px;
  font-weight: 600;
  font-size: 14px;
 
}
.form_group .textarea {
box-sizing: border-box;
 width: 100%;
 min-height: 125px;
 font-weight: normal;
 font-style: normal;
 text-decoration: none;
 text-align: left;
 padding: 10px;
 line-height: 1px;
 background: #ffffff;
 border: 1px solid #000000;
 border-radius: 5px;
}
 .option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
 .option .date input {
  box-sizing: border-box;
  height: 30px;
 padding: 5px;
 width: 200px;
}
 .option select {
  box-sizing: border-box;
  height: 30px;
  width: 200px;
 padding: 5px;
  font-weight: normal;
}
.button {
  margin: 40px 0px;
  width: 100%;
  padding: 6px 0px;
  color: #FFFFFF;
font-size: 15px;
text-align: center;
background: #5CB85C;
border: none;
border-radius: 8px;
transition: 0.3s;
}
.button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.form_list {
  display: block;
  width: 550px;
  margin: auto;
  justify-content: center;
  font-size: 12px;
}
.Rectangle {
  margin-top: 10px;
  border-radius: 0px;
  background: #FFFFFF;
}
.border {
  border: 1px solid #000000;
}
.Rectangle .Rectangle_all {
  display: flex;
  padding: 10px ;
  justify-content: space-between;
  align-items: center;
  background: #E0E0E0;
}
.List_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
  margin-top: 5px ;
}
.List_item-name {
  padding-left: 5px;
  flex: 1;
  font-size: 16px;
  font-weight: normal;
}
.button_delete,
.button_detail {
  border-radius: 8px;
  border: none;
  background: #D9534F;
  color:#FFFFFF;
  text-align: center;
  padding:5px 10px;
  margin: 0px 10px;
  cursor: pointer;
}
.button_detail {
  background: #00BCD4;
}
.button_detail:hover ,
.button_delete:hover {
  opacity: 0.7;
}

 

